
$main1: darkgreen;
$main2: green;

html {
  background: url('images/peas-bg3.jpg') no-repeat center fixed; 
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

#mainContainer {
  display: block;
  max-width: 960px;
  padding: 30px 0px;
  margin: 30px auto;
  text-align: left;
}

#pageSidebar {
  width: 25%;
  float: left;
  margin: 0 0 40px 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px;
}

#recipe-box-header {
  padding: 2px 20px;
  border-radius: 20px 20px 0 0;
  margin: 0;
  background-color: $main1;
  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    margin: 4px 0px;
  }
}

#recipe-list-div {
  background-color: white;
  margin: 0;
  padding: 0;
  ul {
    list-style-type: none;
    padding: 1em 0;
    margin: 0;
    li {
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      margin: 0;
      padding: 10px 20px;
      color: $main1;
      &:hover {
        background-color: #eeeeee;
      }
    }
  }
}

#add-recipe-div {
  margin: 0;
  padding: 20px;
  border-radius: 0 0 20px 20px;
}

button {
  width: 140px;
  padding: 6px 2px;
  background-color: $main1;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 2em;
  cursor: pointer;
  &#deleteRecipeButton, &#discardChangesButton {
    margin-left: 40px;
  }
  &#addRecipeButton {
    margin-top: 0;
  }
  &:hover {
    background-color: $main2;
  }
}

#contentEdit textarea {
  width: 80%;
  padding: 4px 6px;
  margin-bottom: 1em;
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  &#rTitle { height: 20px; }
  &#rIngredients, &#rDirections { height: 150px; }
  &#rNotes { height: 54px}
}

#pageContent {
  width: 68%;
  float: left;
  margin: 0 0 40px 40px;
  padding: 20px 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px;
  h1 {
    color: $main1;
  }
  h4 {
    color: $main2;
    padding: 1px 0;
    margin: 0.2em 0;
    font-size: 9px;
    font-weight: 500;
    text-transform: uppercase;
  }
  #ing-column {
    float: left;
    width: 210px;
    margin: 0;
    padding: 0 50px 0 0;
  }
  #dir-column {
    float: left;
    width: 380px;
    margin: 0;
    padding: 0 20px 0 0;
    ol {
      margin: 0 0 0 16px;
      padding: 0;
    }
  }
}

.mainPaneButtons {
  clear: both;
  display: block;
}
