
$main1: darkred;
$main2: firebrick;

html {
  background: url('images/chillis.jpg') no-repeat center fixed; 
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

#headerContainer {
  width: 100%;
  display: block;
  margin: 0;
  background-color: $main1;
}

#pageHeader {
  max-width: 1060px;
  padding: 4px 120px;
  margin: 0 auto;
  text-align: left;
  h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #eeeeee;
    text-shadow: 4px 4px 2px #333333;
    small {
      font-size: 67%;
      color: #aaa8a2;
      text-shadow: none;
      margin-left: 12px;
    }
  }
}

#mainContainer {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

#pageMain {
  max-width: 1060px;
  padding: 30px 0px;
  margin: 0 auto;
  text-align: left;
}

#pageSidebar {
  width: 25%;
  float: left;
  margin: 0 0 40px 0;
  padding: 20px;
  box-sizing: border-box;
  background-color: #eee;
  border-radius: 10px;
  ul {
    list-style-type: none;
    padding: 1em 0;
    li {
      cursor: pointer;
      margin: 0 0 1em 0;
      padding: 0;
    }
  }
}

button {
  width: 140px;
  padding: 6px 2px;
  background-color: $main1;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 2em;
  cursor: pointer;
  &#deleteRecipeButton, &#discardChangesButton {
    margin-left: 40px;
  }
  &:hover {
    background-color: $main2;
  }
}

#contentEdit textarea {
  width: 80%;
  padding: 4px 6px;
  background-color: white;
  border: 1px solid #bbb;
  &#rTitle { height: 20px; }
  &#rIngredients, &#rDirections { height: 150px; }
  &#rNotes { height: 54px}
}

#pageContent {
  width: 68%;
  float: left;
  margin: 0 0 40px 40px;
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
}
