html {
  background: url("images/peas-bg.jpg") no-repeat center fixed;
  background-size: cover; }

body {
  margin: 0;
  padding: 0;
  text-align: center; }

#headerContainer {
  width: 100%;
  display: block;
  margin: 0;
  background-color: darkgreen; }

#pageHeader {
  max-width: 1060px;
  padding: 4px 120px;
  margin: 0 auto;
  text-align: left; }
  #pageHeader h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #eeeeee;
    text-shadow: 4px 4px 2px #333333; }
    #pageHeader h1 small {
      font-size: 67%;
      color: #aaa8a2;
      text-shadow: none;
      margin-left: 12px; }

#mainContainer {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0; }

#pageMain {
  max-width: 1060px;
  padding: 30px 0px;
  margin: 0 auto;
  text-align: left; }

#pageSidebar {
  width: 25%;
  float: left;
  margin: 0 0 40px 0;
  padding: 20px;
  box-sizing: border-box;
  background-color: #eee;
  border-radius: 10px; }
  #pageSidebar ul {
    list-style-type: none;
    padding: 1em 0; }
    #pageSidebar ul li {
      cursor: pointer;
      margin: 0 0 1em 0;
      padding: 0; }

button {
  width: 140px;
  padding: 6px 2px;
  background-color: darkgreen;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 2em;
  cursor: pointer; }
  button#deleteRecipeButton, button#discardChangesButton {
    margin-left: 40px; }
  button:hover {
    background-color: green; }

#contentEdit textarea {
  width: 80%;
  padding: 4px 6px;
  background-color: white;
  border: 1px solid #bbb; }
  #contentEdit textarea#rTitle {
    height: 20px; }
  #contentEdit textarea#rIngredients, #contentEdit textarea#rDirections {
    height: 150px; }
  #contentEdit textarea#rNotes {
    height: 54px; }

#pageContent {
  width: 68%;
  float: left;
  margin: 0 0 40px 40px;
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px; }
