html {
  background: url("images/peas-bg4.jpg") no-repeat center fixed;
  background-size: cover; }

body {
  margin: 0;
  padding: 0;
  text-align: center; }

#mainContainer {
  display: block;
  max-width: 1160px;
  padding: 30px 0px;
  margin: 30px auto;
  text-align: left; }

#pageSidebar {
  width: 25%;
  float: left;
  margin: 0 0 40px 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px; }

#recipe-box-header {
  padding: 20px;
  border-radius: 20px 20px 0 0;
  margin: 0;
  background-color: darkgreen; }
  #recipe-box-header h1 {
    color: white; }

#recipe-list-div {
  background-color: white;
  margin: 0;
  padding: 0; }
  #recipe-list-div ul {
    list-style-type: none;
    padding: 1em 0;
    margin: 0; }
    #recipe-list-div ul li {
      cursor: pointer;
      margin: 0;
      padding: 10px 20px;
      color: darkgreen; }
      #recipe-list-div ul li:hover {
        background-color: #eeeeee; }

#add-recipe-div {
  margin: 0;
  padding: 20px;
  border-radius: 0 0 20px 20px; }

button {
  width: 140px;
  padding: 6px 2px;
  background-color: darkgreen;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 2em;
  cursor: pointer; }
  button#deleteRecipeButton, button#discardChangesButton {
    margin-left: 40px; }
  button#addRecipeButton {
    margin-top: 0; }
  button:hover {
    background-color: green; }

#contentEdit textarea {
  width: 80%;
  padding: 4px 6px;
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 20px; }
  #contentEdit textarea#rTitle {
    height: 20px; }
  #contentEdit textarea#rIngredients, #contentEdit textarea#rDirections {
    height: 150px; }
  #contentEdit textarea#rNotes {
    height: 54px; }

#pageContent {
  width: 68%;
  float: left;
  margin: 0 0 40px 40px;
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px; }
