html {
  background: url("images/peas-bg3.jpg") no-repeat center fixed;
  background-size: cover; }

body {
  margin: 0;
  padding: 0;
  text-align: center; }

#mainContainer {
  display: block;
  max-width: 960px;
  padding: 30px 0px;
  margin: 30px auto;
  text-align: left; }

#pageSidebar {
  width: 25%;
  float: left;
  margin: 0 0 40px 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px; }

#recipe-box-header {
  padding: 2px 20px;
  border-radius: 20px 20px 0 0;
  margin: 0;
  background-color: darkgreen; }
  #recipe-box-header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    margin: 4px 0px; }

#recipe-list-div {
  background-color: white;
  margin: 0;
  padding: 0; }
  #recipe-list-div ul {
    list-style-type: none;
    padding: 1em 0;
    margin: 0; }
    #recipe-list-div ul li {
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      margin: 0;
      padding: 10px 20px;
      color: darkgreen; }
      #recipe-list-div ul li:hover {
        background-color: #eeeeee; }

#add-recipe-div {
  margin: 0;
  padding: 20px;
  border-radius: 0 0 20px 20px; }

button {
  width: 140px;
  padding: 6px 2px;
  background-color: darkgreen;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 2em;
  cursor: pointer; }
  button#deleteRecipeButton, button#discardChangesButton {
    margin-left: 40px; }
  button#addRecipeButton {
    margin-top: 0; }
  button:hover {
    background-color: green; }

#contentEdit textarea {
  width: 80%;
  padding: 4px 6px;
  margin-bottom: 1em;
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400; }
  #contentEdit textarea#rTitle {
    height: 20px; }
  #contentEdit textarea#rIngredients, #contentEdit textarea#rDirections {
    height: 150px; }
  #contentEdit textarea#rNotes {
    height: 54px; }

#pageContent {
  width: 68%;
  float: left;
  margin: 0 0 40px 40px;
  padding: 20px 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px; }
  #pageContent h1 {
    color: darkgreen; }
  #pageContent h4 {
    color: green;
    padding: 1px 0;
    margin: 0.2em 0;
    font-size: 9px;
    font-weight: 500;
    text-transform: uppercase; }
  #pageContent #ing-column {
    float: left;
    width: 210px;
    margin: 0;
    padding: 0 50px 0 0; }
  #pageContent #dir-column {
    float: left;
    width: 380px;
    margin: 0;
    padding: 0 20px 0 0; }
    #pageContent #dir-column ol {
      margin: 0 0 0 16px;
      padding: 0; }

.mainPaneButtons {
  clear: both;
  display: block; }
